.fc-daygrid-day-events, .fc-daygrid-day-top{
    font-size: 18px;
}
.form-control{
    width: 100%;
}
/* .fc-daygrid-day-frame, .fc-scrollgrid-sync-inner{
    background-color: blueviolet;
    color: white;
} */